<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(exp('new')) { %>
    <h1>New</h1>
    <% } else { %>
    <h1>Old</h1>
    <% } %>
  </body>
</html>