<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(exp('new')) { %>
    <h1>New User</h1>
    <% } else { %>
    <h1>Old User</h1>
    <% } %>
  </body>
</html>